/*!
 * Copyright (C) 2018-2019 Gigadrive - All rights reserved.
 * https://gigadrivegroup.com
 * https://qpo.st
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <https://gnu.org/licenses/>
 */

.ant-layout-header {
	@include navigationStyle(mainNav, #001529, #FFF);
	@include navigationStyle(mobileNav, #001529, $primary);
}

.mobileSider {
	background-color: #001529 !important;

	.displayName {
		color: #FFF !important;
	}
}

.dropdown-menu {
	background-color: #525252;
}

.dropdown-item {
	color: white !important;

	&:focus, &:hover {
		text-decoration: none;
		background-color: #0D0D0D;
	}
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color: #ffffff !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #FFF !important;
	background-color: #535353 !important;
}
