/*!
 * Copyright (C) 2018-2019 Gigadrive - All rights reserved.
 * https://gigadrivegroup.com
 * https://qpo.st
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <https://gnu.org/licenses/>
 */

.postCharacterCounter {
	color: white !important;
}

.hwt-container {
	border-top: 1px solid #222222 !important;
	border-bottom: 1px solid #222222 !important;
}

.postField {
	background: none transparent !important;
	border-top: 1px solid #222222 !important;
	border-bottom: 1px solid #222222 !important;
}

.ant-mentions-dropdown, .ant-dropdown-menu {
	color: #FFF;
	background-color: #001d30;
	border-color: #001020;

	.ant-mentions-dropdown-menu-item, .ant-dropdown-menu-item {
		color: #FFF;

		&.ant-mentions-dropdown-menu-item-active, &.ant-dropdown-menu-item-active {
			background-color: lighten(#001d30, 20%) !important;
		}
	}
}

.ant-empty-image {
	img {
		opacity: .35;
	}
}