/*!
 * Copyright (C) 2018-2019 Gigadrive - All rights reserved.
 * https://gigadrivegroup.com
 * https://qpo.st
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <https://gnu.org/licenses/>
 */

.profile {
	.mobilePart {
		@media only screen and (min-width: 1091px) {
			display: none !important;
		}
	}

	.mainAvatar {
		@extend .rounded, .mb-2;
		$size: 256px;

		border: 1px solid $primary;
		width: $size;
		height: $size;
	}

	.mobileAvatar {
		@extend .rounded, .mr-2;
		$size: 64px;

		border: 1px solid $primary;
		width: $size;
		height: $size;
	}

	.usernameDisplay {
		@extend .text-muted;
	}

	.followsYouBadge {
		color: #8e8f91 !important;
		background-color: #F8F9FA !important;
	}
}