{% extends "emptyBase.html.twig" %}

{% block additionalBodyClasses %}homeBackground{% endblock %}

{% block body %}
	<div class="identifier--forceDayMode"></div> {# <-- DISABLES NIGHTMODE #}

	<div class="homeBase">
		<div class="container pt-3">
			<div class="float-right">
				<a href="{{ path("qpost_page_about") }}" class="btn btn-link text-white mb-2 mr-3">about</a>

				<a href="https://gigadrivegroup.com/advertise" target="_blank"
				   class="btn btn-link text-white mb-2 mr-3">advertise</a>

				<a href="{{ path("qpost_login_index") }}" class="btn btn-link text-white mb-2">log in</a>
			</div>
		</div>

		<div class="container my-5">
			{% block content %}

			{% endblock %}
		</div>
	</div>

	<div class="container container-fluid my-5">
		<div class="text-center small text-muted text-uppercase font-weight-bold homeFooter">
			<a href="https://gigadrivegroup.com/legal/contact" target="_blank" class="clearUnderline mx-3">
				Contact Info
			</a>

			<a href="https://support.gigadrivegroup.com/hc/en-us/categories/360002202679-qpost" target="_blank"
			   class="clearUnderline mx-3">
				Support
			</a>

			<a href="https://gigadrivegroup.com/legal/terms-of-service" target="_blank" class="clearUnderline mx-3">
				Terms of Service
			</a>

			<a href="https://gigadrivegroup.com/legal/privacy-policy" target="_blank" class="clearUnderline mx-3">
				Privacy Policy
			</a>

			<a href="https://gigadrivegroup.com/legal/disclaimer" target="_blank" class="clearUnderline mx-3">
				Disclaimer
			</a>

			<br/><br/>

			&copy; 2019 Gigadrive Group
		</div>
	</div>
{% endblock %}